<h1> Results </h1>
<p>
  <img src="<%= @image %>" alt="Image of the meal" style="min-height: 360px; max-height: 360px;" />
</p>
<p>
  <%= @description %>
</p>
<ul>
  <li><strong>Fat:</strong> <%= @response["fat"] %> g</li>
  <li><strong>Protein:</strong> <%= @response["protein"] %> g</li>
  <li><strong>Carbohydrates:</strong> <%= @response["carbs"] %> g</li>
  <li><strong>Total Calories:</strong> <%= @response["total_calories"] %> kcal</li>
</ul>
